@import url('../style.css');

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    width: 60vh;
    height: 60vh;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
}

a, h3, button {
    margin: 0;
    font-size: 0.7rem;
}

#c01, #c10, #c11, #c12, #c21 {
    border: 3px solid white;
}

#c01, #c21 {
    border-top: none;
    border-bottom: none;
}

#c10, #c12 {
    border-right: none;
    border-left: none;
}